@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

*{
    max-width: 100%;
    object-fit: cover;
}

body{
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(img/backgroundv2.png);
    background-size: 100%;
    background-position: 0% 75%;
    background-repeat: no-repeat;
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
    background-attachment: fixed;
}

a:link{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
    color: #de578d;
}

.page-wrapper{
    display: flex;
    
}

.intro{
    display: flex;
}


header{
    position: fixed;
    display:inline-flex;
    flex-flow: column wrap;
    transform: rotate(-90deg);
    color: #665844;
    width: 90%;
    left: -18%;
    overflow: hidden;
}


[role=banner] > h1{
    
    font-size: 80px;
    margin-bottom: 0;

    margin-left: 3.5%;

    width: fit-content;
}

[role=banner] > h2{
    margin-top: 0;
    font-size: 50px;
    margin-left: 3.5%;

    width: fit-content;
}



.summary{
    display: inline-flex;
    flex-flow: column wrap;
    position: fixed;
    width: 100%;
    top:17%;
    right: 2%;
    color: #E699B8;
}



.summary > p:first-child{
    font-size: 36px;
    align-self: flex-end;
    width: 15%;
}

.summary > p:nth-child(2){
    font-size: 25px;
    align-self: flex-end;
    width: 20%;
    margin-right: 11%;
    margin-top: 0;
}

.summary > p > a{
    color: #E699B8;
}


.design-selection{
    display: none;
}

.design-archives{
    display: none;
}


.zen-resources{
    display: inline-flex;
    flex-flow: column wrap;
    position: fixed;
    width: 70%;
    color: #E699B8;
    top:13%;
    z-index: 999;
}



h3.resources{
    width: fit-content;
    align-self: flex-end;
    font-size: 40px;
    margin-bottom: 0;
    margin-right: 5%;
}

.zen-resources > ul{
    align-self: flex-end;
    width: fit-content;
    font-size: 30px
}

.zen-resources > ul > li >a{
    color: #E699B8;
}




.preamble{
    z-index: 1;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    width: 45%;
    top:47%;
    right:1%;
    animation: leaving 135s forwards 20s;
    animation-iteration-count: infinite;
}



.preamble > h3:first-of-type{
    color: #665844;
    font-size: 60px;
    align-self: center;
    margin-right: 14%;
    margin-bottom: 0;
}

.preamble > p{
    color: #591E34;
    align-self: center;
    margin-right: 4%;
    font-size: 25px;
}



.explanation{
    z-index: 1;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    width: 45%;
    right:1%;
    bottom: -100%;
    animation: mysecond, leaving;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count:  infinite, infinite; 
    animation-delay: 20s, 40s;
}





@keyframes mysecond {
  0% {bottom: -100%; opacity: 0;}
  6%{bottom: 15%; opacity:1;}
  100% {bottom:15%; opacity: 1;}
}

@keyframes leaving {
    0% {top:47%;; opacity: 1;}
    9% {top:-50%; opacity: 0;}
    100%{top:-50%; opacity: 0;}
  }



.explanation > h3:first-of-type{
    color: #665844;
    font-size: 60px;
    align-self: center;
    margin-right: 14%;
    margin-bottom: 0;
}

.explanation > p{
    color: #591E34;
    align-self: center;
    margin-right: 4%;
    font-size: 25px;
}



.participation{
    z-index: 99;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    width: 45%;
    bottom: -100%;
    right:1%;
    animation: participation, leaving;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 40s, 60s;
    height: fit-content;
}

@keyframes participation {
    0% {bottom: -100%; opacity: 0;}
    6% {bottom:5%; opacity: 1;}
    100% {bottom:5%; opacity: 1;}
  }

.participation > h3{
    color: #665844;
    font-size: 60px;
    align-self: center;
    margin-right: 14%;
    margin-bottom: 0;
}

.participation > p{
    color: #591E34;
    align-self: center;
    margin-right: 4%;
    width: 100%;
    font-size: 25px;
    opacity: 1;
}




.benefits{
    z-index: 99;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    width: 45%;
    bottom: -100%;
    right:1%;
    animation: benefits, leaving;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 60s, 80s;
    height: fit-content;
}

@keyframes benefits{
    0% {bottom: -100%; opacity: 0;}
    6% {bottom:28%; opacity: 1;}
    100% {bottom:28%; opacity: 1;}
}

.benefits > h3{
    color: #665844;
    font-size: 60px;
    align-self: center;
    margin-right: 14%;
    margin-bottom: 0;
}

.benefits > p{
    color: #591E34;
    align-self: center;
    margin-right: 4%;
    width: 100%;
    font-size: 25px;
    opacity: 1;
}



.requirements{
    z-index: 99;
    display: inline-flex;
    flex-flow: column wrap;
    position: absolute;
    width: 45%;
    bottom: -100%;
    right:1%;
    height: 100%;
}



.requirements > h3{
    color: #665844;
    font-size: 60px;
    align-self: center;
    margin-right: 14%;
    margin-bottom: 0;
}

.requirements > p{
    position: absolute;
    opacity: 1;
    color: #591E34;
    align-self: center;
    margin-right: 4%;
    width: 100%;
    font-size: 25px;
    opacity: 1;
}

.requirements > h3:nth-child(1){
    position: absolute;
    bottom: 0%;
    animation: requirements_h3, leaving_h3;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 80s, 100s;
    opacity: 1;
}

@keyframes requirements_h3{
    0% {bottom: 0%; opacity: 0;}
    6% {bottom: 140%; opacity: 1;}
    100% {bottom: 140%; opacity: 1;}
}

@keyframes leaving_h3 {
    0% {bottom:140%; opacity: 1;}
    9% {bottom:200%; opacity: 0;}
    100% {bottom:200%; opacity: 0;}
}

.requirements > p:first-of-type{
    bottom: -12%;
    animation: requirements_p_1, leaving_p_1;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 80s, 100s;
    opacity: 1;
}

@keyframes requirements_p_1{
    0% {bottom: -12%; opacity: 0;}
    6% {bottom: 128%; opacity: 1;}
    100% {bottom: 128%; opacity: 1;}
}

@keyframes leaving_p_1 {
    0% {bottom:128%; opacity: 1;}
    9% {bottom:188%; opacity: 0;}
    100% {bottom:188%; opacity: 0;}
}

.requirements > p:nth-of-type(2){
    bottom: -28%;
    animation: requirements_p_2, leaving_p_2;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 80s, 100s;
    opacity: 1;
}

@keyframes requirements_p_2{
    0% {bottom: -28%; opacity: 0;}
    6% {bottom: 112%; opacity: 1;}
    100% {bottom: 112%; opacity: 1;}
}

@keyframes leaving_p_2 {
    0% {bottom:112%; opacity: 1;}
    9% {bottom:172%; opacity: 0;}
    100% {bottom:172%; opacity: 0;}
}


.requirements > p:nth-of-type(3){
    bottom: -12%;
    animation: requirements_p_3, leaving_p_3;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-delay: 100s, 120s;
    opacity: 1;
}

@keyframes requirements_p_3{
    0% {bottom: -12%; opacity: 0;}
    6% {bottom: 128%; opacity: 1;}
    100% {bottom: 128%; opacity: 1;}
}

@keyframes leaving_p_3 {
    0% {bottom:128%; opacity: 1;}
    9% {bottom:188%; opacity: 0;}
    100% {bottom:188%; opacity: 0;}
}


.requirements > p:nth-of-type(4){
    bottom: -22%;
    animation: requirements_p_4, leaving_p_4;
    animation-fill-mode: forwards;
    animation-duration: 125s, 135s; 
    animation-iteration-count: infinite, infinite; 
    animation-iteration-count: infinite, infinite;
    animation-delay: 100s, 120s;
    opacity: 1;
}

@keyframes requirements_p_4{
    0% {bottom: -22%; opacity: 0;}
    6% {bottom: 118%; opacity: 1;}
    100% {bottom: 118%; opacity: 1;}
}

@keyframes leaving_p_4{
    0% {bottom:118%; opacity: 1;}
    9% {bottom:178%; opacity: 0;}
    100% {bottom:178%; opacity: 0;}
}




.requirements > p:nth-child(6){
    display: none;
}

footer{
    display: none;
}